<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codetrex.cayroshop">

    <application
        android:allowBackup="true"
        android:icon="@drawable/aplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aplogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".ui.AddCardActivity"></activity>
        <activity android:name=".ui.UserTrascationHistory" />
        <activity android:name=".ui.AddMoneyActivity" />
        <activity android:name=".ui.OtpValidate" />
        <activity android:name=".ui.LoginOtp" />
        <activity android:name=".ui.LoginWithOtp" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.ExploreAllCategoryActivity" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.ChooseAddressActivity" />
        <activity android:name=".ui.PaymentAcivity" />
        <activity android:name=".ui.AddAddressActivity" />
        <activity android:name=".ui.CheckOutActivity" />
        <activity android:name=".ui.CancleOrderActivity" />
        <activity android:name=".ui.TrackOrderActivity" />
        <activity android:name=".ui.OrderActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LocationActivity" />
        <activity android:name=".ui.ProductActivity" />
        <activity android:name=".ui.ProductDetailsActivity" />
        <activity android:name=".ui.CartActivity" />
        <activity android:name=".ui.DashBoardActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <receiver android:name=".controller.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>